.canvas-container {
    display: flex;
    width: 70vw;
    height: 100%;
    background-color: #01134b;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

main {
    height: 100%;
}

i {
    color: white;
    font-size: 40px;
}
